h3.subtitle {
	font-size: larger;
	text-align: left;
}

span.subtask-title {
	font-size: 21px;
	text-align: left;
	color: black;
	margin-left: 15px;
	margin-top:  3px;
	font-family: Arial, sans-serif;
}

button.toggle-btn {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 120px;
	background: #00ab96;
	color: white;
	border-radius: 2px;
	font-size: small;
	font-family: Arial, sans-serif;
}

div.benefit {
	padding-top: 30px;
	padding-bottom: 30px;
}

span.italic {
	font-style: italic;
}

td.ac {
	text-align: center;
}